html {
    font-size: 62.5%;
}

h1{
    font-size: 2.4rem;
    color: blue;
    font-weight: bold;
    font-style: italic;
}

h2{
    font-size: 2rem;
    color: #0000ff;
    font-weight: bold;
}

h3{
    font-size: 1.6rem;
    color: teal;
    font-weight: bold;
}

p{
    color: #4D4D4D;
}

.first p{
    font-style: italic;
}

a, a:visited, a:hover {
    color: #8A2BE2;
    text-decoration: none;
}

header{
    width: 100vw;
    height: 33vh;
    background-image: url(./img/steam.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header h1, header p{
    color: blueviolet;
}

img{
    width: 50vw;
}

article{
    border-style: dashed;
    border-radius: 1rem;
    border-width: 0.5rem;
    border-color:wheat;
    border-left-width: 1rem;
}