h1{
    font-size: 24px;
    color: blue;
    font-weight: bold;
    font-style: italic;
}

h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}

h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}

p{
    color: #4D4D4D;
}

#first{
    font-weight: bold;
    color: #d10000
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #8A2BE2;
}

article{
    border-style: dashed;
    border-width: 5px 5px 5px 10px;
    border-color: aqua;
    border-radius: 25px;
}

img{
    width: 50%;
    height: 50%;
}

#title{
    color: #d10000;
}

header{
    width: 100%;
    height: 33%;
    background-image: url(./img/steam.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}