h1{
    font-size: 24px;
    color: blue;
    font-weight: bold;
    font-style: italic;
}

h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}

h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}

p{
    color: #4D4D4D;
}

#first p{
    font-style: italic;
}

a, a:visited, a:hover {
    color: #8A2BE2;
    text-decoration: none;
}

header{
    width: 100vw;
    height: 33vw;
    background-image: url(./img/steam.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header h1, header p{
    color: blueviolet;
}

img{
    width: 50vw;
}

article{
    border-style: dashed;
    border-radius: 10px;
    border-width: 5px;
    border-color:wheat;
    border-left-width: 10px;
}