/* 
  Fonts:

  Main font: font-family: 'Poppins', sans-serif;
  Header font: font-family: 'Pattaya', sans-serif;
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  font-size: 2rem;
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  background-image: url(./img/hacker2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
  position: absolute;
  overflow-x: hidden;
}

header {
  font-weight: 700;
  position: relative;
  text-align: center;
}

h2 {
  margin-top: 8rem;
  font-size: 7rem;
  position: relative;
  right: 5rem;
}

h1 {
  position: relative;
  left: 3rem;
  width: 90vw;
  font-size: 7rem;
  margin-bottom: 30rem;
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin-bottom: 0rem;
  margin-top: -30rem;
}

footer {
  background: #00a8c7;
  height: 7vh;
  width: 100vw;
  position: absolute;
  text-align: center;
  padding: 5rem;
}
/* Ik heb geen bottom: 0 ivm de footer, die bij gebruik hiervan midden in de pagina staat ipv aan de onderkant */

nav {
  z-index: 1;
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  overflow: hidden;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
  float: left;
}
li a{
  display: flex;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 20vw;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a{
  padding: 0.8rem 1rem;
  display: flex;
  text-align: left;
  color: #00a8c7;
}
.dropdown:hover .dropbtn{
  background-color: white;
  color: #00a8c7;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown-content a:hover{
  background-color: #E9E9E9;
}

nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}


main {
  margin-top: 50vh;
}

p {
  width: 40vw;
  position: relative;
}

.paragraphr {
  float: right;
}

.imgl{
  float: right;
}